@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  box-sizing: border-box; }

body {
  background: #016483;
  display: flex;
  justify-content: center;
  align-content: center; }

#game {
  margin-top: 3vh; }

canvas {
  border: #fcc700 7px solid;
  background: #006d8f !important;
  border-radius: 25px;
  box-shadow: 22px 22px 44px #004257, -22px -22px 44px #03baf1; }
