@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$appBackground: #006d8f;
$appShadowDark: #004257;
$appShadowLight: #03baf1;
$colorOne: #fcc700;
$colorTwo: #E2FCEF;
$colorThree: #f72f00;

* {
    box-sizing: border-box;
}

body {
    background: #016483;
    display: flex;
    justify-content: center;
    align-content: center;
}

#game {
    margin-top: 3vh;
}

canvas {
    border: $colorOne 7px solid;
    background: $appBackground !important;
    border-radius: 25px;
    box-shadow: 22px 22px 44px $appShadowDark,
        -22px -22px 44px $appShadowLight;
}