@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$appBackground: #006d8f;
$appShadowDark: #002c39;
$appShadowLight: #00aee5;
$colorOne: #ffbf00;
$colorTwo: #E2FCEF;

* {
    box-sizing: border-box;
}

body {
    background: $appBackground;
    display: flex;
    justify-content: center;
    align-content: center;
}

#game {
    margin-top: 5vh;
    border-radius: 15px;
}